html {
  font-family: sans-serif;
}

// ----- Forms -----

.input_field {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

label.required:after {
  content: '*';
  color: red;
}

.city {
  display: flex;

  .input_field:last-child {
    margin-left: 10px;
    flex: 1;
  }
}

input {
  border: 1px solid blue;

  &:invalid {
    border: 1px solid red;
  }

  &:valid {
    border: 1px solid green;
  }

  &:focus {
    border: 3px solid pink;
  }

}


.payment-option {
  display: grid;
  grid: auto / auto 1fr;
  place-items: center start;
  gap: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;

  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 2px solid #222;
  padding: 0;

  display: grid;
  place-items: center;
}

input[type="radio"]:checked::after {
  width: 0.7rem;
  height: 0.7rem;
  background: #0c4364;
  border-radius: 50%;
  content: "";
}





// ----- Temporary styling -----


body {
  display: grid;
  place-items: center;
}

section {
  margin: 50px 0;
}

form {
  width: 500px;
}
